################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/CDStore/CDStore/bin/Debug
/CDStore/CDStore/obj/Debug
/CDStore/.vs/CDStore/v15/Server/sqlite3
